.navbar-header{
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#a52a2a+0,4f0702+100 */
background: #a52a2a; /* Old browsers */
background: -moz-linear-gradient(top,  #a52a2a 0%, #4f0702 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #a52a2a 0%,#4f0702 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #a52a2a 0%,#4f0702 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a52a2a', endColorstr='#4f0702',GradientType=0 ); /* IE6-9 */

}
.scrollToTop{
  background-color: brown;
  color: #fff;
}
.scrollToTop:hover,.scrollToTop:focus{
  background-color: #fff;
  color: brown;
  border-color: 1px solid brown;
}
.top_nav li a:hover{
  color: brown !important;
}
.search_form input[type="submit"]:hover{
  background-color: brown;
}
.navbar-default {
  background-color: #555;
  border-color: brown;  
}
.custom_nav li a:hover{ 
  border-color: brown;  
}
.navbar-default .navbar-nav > li > a:hover,.navbar-default .navbar-nav > li > a:focus{
  background-color: #fff;
  color: brown;
  border-color: brown;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  background-color: #fff;
 color: brown;
 border-color: brown;
  
}
.navbar-nav > li > .dropdown-menu {
  margin-top: 1px;
  background-color: brown;
}
.dropdown-menu > li > a:hover,.dropdown-menu > li > a:focus{
  background-color: #fff;
  color: brown;
  border-color: brown; 
  padding-left: 20px;
}
.navbar-default .navbar-nav .open .dropdown-menu > li > a {
  color: #fff;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: #fcc259;

}
 .slick-prev, .slick-next {
  background-color: brown;
}  
.slick-prev:hover, .slick-next:hover {
 opacity: 0.80;
}
.bold_line span {
  background-color: #444;
}
.catg1_nav li .post_titile a:hover{
  color: brown;
}
.content_middle_middle:after {
  background-color: brown; 
}
.content_middle_middle:before {
  background-color: brown;  
}
.single_featured_slide>h2 a:hover{
  color: brown;
}
.catg_titile a:hover{
  color: brown;
}
span.meta_date:hover,span.meta_comment:hover,span.meta_more:hover,span.meta_comment a:hover,span.meta_more a:hover{
  color: brown;
}
.media-heading a:hover{
  color: brown;
}
.single_bottom_rightbar>h2{
  border-bottom: 3px solid #333;
}
.nav-tabs {
  border-bottom: 1px solid brown;
}
.nav-tabs > li.active > a,.nav-tabs > li.active > a:focus {  
  color: #000;
}
.nav-tabs > li.active > a:hover{
  color: brown !important;
}
.nav-tabs > li > a:hover{
  background-color: brown; 
  color: #fff !important; 
}
.single_bottom_rightbar ul li>a:hover{
  color: brown;
}
.labels_nav li a:hover{
  background-color: brown;
}  
.breadcrumb {
  background-color: #333;
  border: 2px solid #CCC;
}
.single_page_area > h2 {
  border-left: 5px solid brown;
}
.post_commentbox a:hover,.post_commentbox span:hover{
  color: brown;
}
.single_page_content blockquote {
  border-color: #eee brown;
  border-left: 5px solid brown;
}
.single_page_content ul li:before {
  background: none repeat scroll 0 0 brown;
}
.post_pagination {
  border-bottom: 2px solid brown;
  border-top: 2px solid brown;
}
.prev {  
  border-right: 2px solid brown;
}
.angle_left {
  background-color: #555;
}
.angle_right {
  background-color: #555;
}
.error_page_content h1:after, .error_page_content h1:before {  
  border: 2px solid brown;
}
.error_page_content p {
  border-bottom: 2px solid brown;
  border-top: 2px solid brown;
}
.error_page_content p:after {
  border-top: 1px solid brown;  
}
.error_page_content p:before {
  border-top: 1px solid brown;  
}
.error_page_content p>a:hover{
  color: brown;
}
.our_office {
  border-top: 2px solid brown;
}
.contact_us{
 border-top: 2px solid brown;
}
.contact_form input[type="submit"]:hover{
  background-color: brown;
  color: #fff;
  border-color: brown;
}
.our_office:before {
  border-bottom: 1px solid brown;  
}
.contact_us:before {
  border-bottom: 1px solid brown;  
}
.single_footer_top > h2 {
  color: #FFF;
}
.similar_post h2 i{
  color: brown;
}
